---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/tcontentsstyle.css"> -->



  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

   <title>project gallery</title>

<body>
  {% include navbar.html %}
  <div class="projects">
    <h3><i>.</i></h3>
    <h1 class="projects-title">projects</h1>
    <div class="projects-container">

      <div class="left">
        {% for item in site.data.toc_2023 %}
          {% if item.pagetype == "frontmatter" %}
              <div class="tcleft">
                <h2 class="tcleft"><a href="frontmatter/{{item.pid}}">{{ item.title }}</a></h2>
              </div>
          {% elsif item.pagetype == "musing" or item.pagetype == "interview" %}
            <div class="tcleft">
              <h2 class="tcleft"><a href="poems_2023/{{item.pid}}">{{ item.transtitle }}</a></h2>
              <h3 class="tcleft"> by {{ item.author }}</h3>
            </div>
          {% elsif item.pagetype == "content" %}
            <div class="tcleft">
              <h2 class="tcleft"><a href="poems_2023/{{item.pid}}">{{ item.transtitle }}</a>
              {% if item.title %}
                  <a href="poems_2023/{{item.pid}}">[<span lang= "{{ item.lang }}" dir="ltr">{{ item.title }}</span>]</a>
              {% endif %}</h2>
              <h3 class="tcleft">written by {{ item.author }} <br>translated from {{ item.language }} by {{ item.translator }}</h3>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <p> </p>
       
    </div>
  </div>

</body>
<footer>
</footer>
  

<html>
